{% extends 'homebase.html' %}
{% block title %}Change Password{% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "styles/news.css" %} ">
    <link rel="stylesheet" type="text/css" href="{% static "styles/responsive.css" %} ">
{% endblock %}

{% block body %}
    <div class="home">
        <div class="container-fluid" style="margin-top: 10%;">
            <div class="row">
                <div class="col-md-2">
                    <div class="sidebar">
                        {% include 'usermenu.html' %}
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="section_title">
                        <h3 class="contact-title">User Information</h3>
                    </div>
                    <div class="section-content">
                        {% if messages %}
                            {% for message in messages %}
                                <div style="color:red; font-size: medium">
                                    {{ message|safe }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <form method="POST">
                            {% csrf_token %}
                            {% for field in form %}
                                <p>
                                    {{ field.label_tag }}<br>
                                    {{ field }}
                                    {% if field.help_text %}
                                        <small style="color: grey">{{ field.help_text }}</small>
                                    {% endif %}
                                    {% for error in field.errors %}
                                        <p style="">{{ error }}</p>
                                    {% endfor %}
                                </p>
                            {% endfor %}
                            <button class="btn btn-outline-info" type="submit">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br>
    <br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br>
{% endblock %}
