{%  extends 'homebase.html' %}

{% block title %}Contact{% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{%  load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "styles/contact.css" %} ">
    <link rel="stylesheet" type="text/css" href="{% static "styles/contact_responsive.css" %} ">
{% endblock %}


{% block body %}
    <div class="contact">
		<div class="container">

            {%  if messages %}
                {% for message in messages %}
                    <div class="row">
                        <div class="col-lg-12 alert alert-{{ message.tags }}" role="alert">
                            {{ message }}
                        </div>

                    </div>
                {% endfor %}
            {% endif %}
			<div class="row">

				<!-- Contact Info -->
				<div class="col-lg-4">
					<div class="contact_info">
						{{ setting.contact|safe }}
					</div>

				</div>

				<!-- Contact Form -->
				<div class="col-lg-8">
					<div class="contact_form_container">

						<form action="" class="contact_form" method="post">
                            {% csrf_token %}

							<div class="row">
								<!-- Name -->
								<div class="col-lg-6 contact_name_col">
									{{ form.name }}
								</div>
								<!-- Email -->
								<div class="col-lg-6">
									{{ form.email }}
								</div>
							</div>
							<div>{{ form.subject }}</div>
							<div>{{ form.message }}</div>
							<input type="submit" class="contact_button button"></input>



						</form>



					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}