<div class="super_container">
    {% load static %}
	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="header_content d-flex flex-row align-items-center justify-content-start">
						<div class="logo">
							<a href="#"><img src="{% static "images/logo.png" %}" alt=""></a>
						</div>
						<nav class="main_nav">
							<ul>
                                {% if page == 'home' %}
								<li class="active"><a href="/">Home</a></li>
								<li><a href="/aboutus">About us</a></li>
                                <li><a href="/properties">Properties</a></li>
								<li><a href="/references">References</a></li>
								<li><a href="/contact">Contact</a></li>

                                {% elif page == 'about' %}
                                <li><a href="/">Home</a></li>
								<li class="active"><a href="/aboutus">About us</a></li>
                                <li><a href="/properties">Properties</a></li>
								<li><a href="/references">References</a></li>
								<li><a href="/contact">Contact</a></li>

                                {% elif page == 'reference' %}
                                <li><a href="/">Home</a></li>
								<li><a href="/aboutus">About us</a></li>
                                <li><a href="/properties">Properties</a></li>
								<li class="active"><a href="/references">References</a></li>
								<li><a href="/contact">Contact</a></li>

                                {% elif page == 'prop' %}
                                <li><a href="/">Home</a></li>
								<li><a href="/aboutus">About us</a></li>
                                <li class="active"><a href="/properties">Properties</a></li>
								<li><a href="/references">References</a></li>
								<li><a href="/contact">Contact</a></li>

                                {% elif page == 'contact' %}
                                <li><a href="/">Home</a></li>
								<li><a href="/aboutus">About us</a></li>
                                <li><a href="/properties">Properties</a></li>
								<li><a href="/references">References</a></li>
								<li class="active"><a href="/contact">Contact</a></li>

                                {% endif %}













							</ul>
						</nav>
						<div class="phone_num ml-auto">
							<div class="phone_num_inner">
								<img src="{% static "images/phone.png" %}" alt=""><span>652-345 3222 11</span>
							</div>
						</div>
						<div class="hamburger ml-auto"><i class="fa fa-bars" aria-hidden="true"></i></div>
					</div>
				</div>
			</div>
		</div>
	</header><br>