{%  extends 'homebase.html' %}
{% load static %}

{% block title %}Home{% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "styles/main_styles.css" %} ">
    <link rel="stylesheet" type="text/css" href="{% static "styles/responsive.css" %} ">
{% endblock %}

<!-- Home -->

{% block body %}
	<div class="home">

		<!-- Home Slider -->
		<div class="home_slider_container">
			<div class="owl-carousel owl-theme home_slider">

				<!-- Slide -->
                {% for slide in sliderData %}
				<div class="owl-item">
					<div class="home_slider_background" style="background-image:url('uploads/{{ slide.image }}')"></div>
					<div class="slide_container">
						<div class="container">
							<div class="row">
								<div class="col">
									<div class="slide_content">
										<div class="home_subtitle">{{ slide.category }}</div>
                                        <div class="home_title"><a style="color: white" href="/place/{{ slide.id }}/{{ slide.slug }}">{{ slide.title }}</a></div>
										<div class="home_details">
											<ul class="home_details_list d-flex flex-row align-items-center justify-content-start">
												<li>
													<div class="home_details_image"><img style="margin-top:-4px" src="{% static "images/seo-and-web.png" %}" alt=""></div>
													<span> {{ slide.country }}</span>
												</li>
												<li>
													<div class="home_details_image"><img style="margin-top:-4px" src="{% static "images/clock-circular-outline.png" %}" alt=""></div>
													<span> {{ slide.visit_hours }}</span>
												</li>
												<li>
													<div class="home_details_image"><img style="margin-top:-4px" src="{% static "images/business.png" %}" alt=""></div>
													<span> {{slide.audience}}</span>
												</li>
											</ul>
										</div>
										<div class="home_price">{% if slide.price != 0.0 %}{{ slide.currency }} {{ slide.price }}{% else %} Ücretsiz {% endif %}</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
                {% endfor %}




			</div>
		</div>
	</div>


  <script>

  $(function() {
    $("#query").autocomplete({
      source: "/search_auto/",
      select: function (event, ui) { //item selected
        AutoCompleteSelectHandler(event, ui)
      },
      minLength: 2,
    });
  });

  function AutoCompleteSelectHandler(event, ui)
  {
    var selectedObj = ui.item;
  }

</script>




	<!-- Home Search -->
	<div class="home_search">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="home_search_container">
						<div class="home_search_content">
							<form action="/search/" method="post" class="search_form d-flex flex-row align-items-start justfy-content-start">
                                {% csrf_token %}

								<div class="search_form_content d-flex flex-row align-items-start justfy-content-start flex-wrap">
                                    <div>
										<select name="catid" class="search_form_select">
											<option value="0">All Categories</option>
                                            {% load mptt_tags %}
											{% recursetree categories %}

                                            {% if node.is_leaf_node %}
                                            <option value="{{node.id}}">{{ node.title }}</option>
                                            {% endif %}

                                            {% if not node.is_leaf_node %}
                                                <optgroup label="{{ node.title }}">
                                                    {{ children }}
                                                </optgroup>

                                            {% endif %}


                                             {% endrecursetree %}
										</select>
									</div>
                                    <div style="width:60%">
									<input type="text" id="query" name="query" class="contact_input" placeholder="Search">
                                        </div>
								</div>
								<button class="search_form_button ml-auto">search</button>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Recent -->

	<div class="recent">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title">Random Places</div>
					<div class="section_subtitle">Search your dream vacation</div>
				</div>
			</div>
			<div class="row recent_row">
				<div class="col">
					<div class="recent_slider_container">
						<div class="owl-carousel owl-theme recent_slider">

							<!-- Slide -->
                            {% for slide in random_places %}

							<div class="owl-item">
								<div class="recent_item">
									<div class="recent_item_inner">
										<div class="recent_item_image">
											<img src="uploads/{{ slide.image }}" height="261px" width="361px" alt="">
                                            <div class="tag_featured property_tag"><a href="#"><i class="fa fa-thumbs-up"></i> : {{ slide.likes_count }}    <i class="fa fa-comment"></i> : {{ slide.comments_count }} </a></div>
										</div>
										<div class="recent_item_body text-center">
											<div class="recent_item_location">{{ slide.country }}</div>
											<div class="recent_item_title"><a href="/place/{{ slide.id }}/{{ slide.slug }}">{{ slide.title }}</a></div>
											<div class="recent_item_price">{% if slide.price != 0.0 %}{{ slide.currency }} {{ slide.price }}{% else %} Ücretsiz {% endif %}</div>
										</div>
										<div class="recent_item_footer d-flex flex-row align-items-center justify-content-start">
											<div><div class="recent_icon"><img style="margin-top:-4px" src="{% static "images/seo-and-web.png" %}" alt=""></div><span>{{ slide.country}}</span></div>
											<div><div class="recent_icon"><img style="margin-top:-4px" src="{% static "images/clock-circular-outline.png" %}" alt=""></div><span>{{ slide.visit_hours }}</span></div>
											<div><div class="recent_icon"><img style="margin-top:-4px" src="{% static "images/business.png" %}" alt=""></div><span>{{ slide.audience }}</span></div>
										</div>
									</div>
								</div>
							</div>
                        {% endfor %}


						</div>

						<div class="recent_slider_nav_container d-flex flex-row align-items-start justify-content-start">
							<div class="recent_slider_nav recent_slider_prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
							<div class="recent_slider_nav recent_slider_next"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
						</div>
					</div>
					<div class="button recent_button"><a href="/places">see more</a></div>
				</div>
			</div>
		</div>
	</div>

	<!-- Cities -->

	<div class="cities">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title">Find touristic places in these categories</div>
					<div class="section_subtitle">Search your dream vacation</div>
				</div>
			</div>
		</div>

		<div class="cities_container d-flex flex-row flex-wrap align-items-start justify-content-between">


            {% for cat in categories %}
			<!-- City -->
			<div class="city">
				<img src="/uploads/{{ cat.image }}" height="217px" width="292px" alt="https://unsplash.com/@dnevozhai">
				<div class="city_overlay">
					<a href="/category_all/{{ cat.id }}/{{ cat.slug }}" class="d-flex flex-column align-items-center justify-content-center">
						<div class="city_title">{{ cat.title }}</div>
						<div class="city_subtitle">{{cat.description}}</div>
					</a>
				</div>
			</div>
                {% endfor %}

		</div>
	</div>


{% endblock %}