{%  extends 'homebase.html' %}
{% block title %} {{ catData.title }} Places{% endblock %}
{% block keywords %} {{ catData.keywords }}{% endblock %}
{% block description %} {{ catData.description }}{% endblock %}

{%  load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "styles/properties.css" %} ">
    <link rel="stylesheet" type="text/css" href="{% static "styles/properties_responsive.css" %} ">
{% endblock %}


{% block body %}
<div class="properties">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title"> {{ count }} {{ catData.title }} Places found</div>
					<div class="section_subtitle">Search your vacation</div>
				</div>
			</div>
			<div class="row properties_row">
				{% for prod in products %}
				<!-- Property -->
				<div class="col-xl-4 col-lg-6 property_col">
					<div class="property">
						<div class="property_image">
							<img src="/uploads/{{ prod.image }}" alt="">
							<div class="tag_featured property_tag"><a href="#">{{ prod.status }}</a></div>
						</div>
						<div class="property_body text-center">
							<div class="property_location">{{ prod.country }}</div>
							<div class="property_title"><a href="/product/{{ prod.id }}/{{ prod.slug }}">{{ prod.title }}</a></div>
							<div class="property_price">{% if prod.price != 0.0 %}$ {{ prod.price }}{% else %} Ücretsiz {% endif %}</div>
						</div>
						<div class="property_footer d-flex flex-row align-items-center justify-content-start">
                            <div><div class="property_icon"><img src="{% static "images/seo-and-web.png" %}" alt=""></div><span>{{ prod.country}}</span></div>
							<div><div class="property_icon"><img src="{% static "images/different-currencies.png" %}" alt=""></div><span>{{ prod.price }}</span></div>
							<div><div class="property_icon"><img src="{% static "images/business.png" %}" alt=""></div><span>{{ prod.audience }}</span></div>
						</div>
					</div>
				</div>

                {% endfor %}


			</div>
			<div class="row">
				<div class="col">
					<div class="pagination">
						<ul>
							<li class="active"><a href="#">01.</a></li>
							<li><a href="#">02.</a></li>
							<li><a href="#">03.</a></li>
							<li><a href="#">04.</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}