{% extends 'homebase.html' %}
{% block title %} {{ place.title }} {% endblock %}
{% block keywords %} {{ place.keywords }}{% endblock %}
{% block description %} {{ place.description }}{% endblock %}

{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "plugins/rangeslider.js-2.3.0/rangeslider.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "styles/property.css" %} ">
    <link rel="stylesheet" type="text/css" href="{% static "styles/property_responsive.css" %} ">
    <link rel="stylesheet" type="text/css" href="{% static "styles/contact.css" %} ">
    <link rel="stylesheet" type="text/css" href="{% static "styles/contact_responsive.css" %} ">
{% endblock %}


{% block body %}
    <div class="intro">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="intro_content d-flex flex-lg-row flex-column align-items-start justify-content-start">
                        <div class="intro_title_container">
                            <div class="intro_title">{{ place.title }}</div>
                            <div class="intro_tags">
                                <ul>
                                    {% for key in keywords %}
                                        <li><a href="#">{{ key }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="intro_price_container ml-lg-auto d-flex flex-column align-items-start justify-content-center">
                            <div>Entrance Fee</div>
                            <div class="intro_price">{% if place.price != 0 %}{{ place.currency }} {{ place.price }}{% else %}
                                Ücretsiz {% endif %}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="intro_slider_container">

            <!-- Intro Slider -->
            <div class="owl-carousel owl-theme intro_slider">
                <!-- Slide -->
            <div class="owl-item"><img src="{{ place.image.url }}" height="562px" width="1255px"
                                               alt="{{ place.image.title }}"></div>
                {% for img in images %}
                    <div class="owl-item"><img src="{{ img.image.url }}" height="562px" width="1255px"
                                               alt="{{ img.image.title }}"></div>
                {% endfor %}
            </div>

            <!-- Intro Slider Nav -->
        {% if images is not Null %}
            <div class="intro_slider_nav_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="intro_slider_nav_content d-flex flex-row align-items-start justify-content-end">
                                <div class="intro_slider_nav intro_slider_prev"><i class="fa fa-chevron-left"
                                                                                   aria-hidden="true"></i></div>
                                <div class="intro_slider_nav intro_slider_next"><i class="fa fa-chevron-right"
                                                                                   aria-hidden="true"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        </div>
    </div>

    <!-- Property -->

    <div class="property">
        <div class="container">
            <div class="row">

                <!-- Sidebar -->

                <div class="col-lg-4">
                    <div class="sidebar">
                        <div class="sidebar_search">
                            <div class="sidebar_search_title">Description</div>
                            <div class="sidebar_search_form_container">
                                <p>{{ place.description }}</p>
                            </div>
                        </div>

                        <!-- Realtor -->
                        <div class="sidebar_realtor">
                            <div class="sidebar_realtor_image"><img src={{profile.image.url}}
                                                                    alt="" width="375px"></div>
                            <div class="sidebar_realtor_body text-center">
                                <div class="sidebar_realtor_title"><a href="#"> {{ place.user.first_name}} {{ place.user.last_name }}</a></div>
                                <div class="sidebar_realtor_subtitle">{{profile.city}}</div>
                                <div class="sidebar_realtor_phone"><span>call us: </span>{{ profile.phone}}</div>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Property Content -->
                <div class="col-lg-7 offset-lg-1">
                    <div class="property_content">
                        <div class="property_icons">

                            <div class="property_rooms d-flex flex-sm-row flex-column align-items-start justify-content-start">

                                <!-- Property Room Item -->
                                <div class="property_room">
                                    <div class="property_room_title">Country</div>
                                    <div class="property_room_content d-flex flex-row align-items-center justify-content-start">
                                        <div class="room_icon"><img src="{% static "images/pin.png" %}" height="32px"
                                                                    width="32px" alt=""></div>
                                        <div class="room_num">{{ place.country }}</div>
                                    </div>
                                </div>

                                <!-- Property Room Item -->
                                <div class="property_room">
                                    <div class="property_room_title">Currency</div>
                                    <div class="property_room_content d-flex flex-row align-items-center justify-content-start">
                                        <div class="room_icon"><img
                                                src="{% static "images/clock-circular-outline.png" %}" alt=""></div>
                                        <div class="room_num">{{ place.visit_hours }}</div>
                                    </div>
                                </div>

                                <!-- Property Room Item -->
                                <div class="property_room">
                                    <div class="property_room_title">Audience</div>
                                    <div class="property_room_content d-flex flex-row align-items-center justify-content-start">
                                        <div class="room_icon"><img src="{% static "images/target.png" %}" alt=""></div>
                                        <div class="room_num">{{ place.audience }}</div>
                                    </div>
                                </div>

                                <div class="property_room">
                                    <div class="property_room_title">Likes</div>
                                    <div class="property_room_content d-flex flex-row align-items-center justify-content-start">
                                        <div class="room_icon"><i  class="fa fa-2x fa-thumbs-up" style="color:#ccd9f2;!important;"></i></div>
                                        <div class="room_num">{{ place.likes_count }}</div>
                                    </div>
                                </div>


                            </div>
                        </div>

                        <!-- Description -->


                        <!-- Additional Details -->

                        <div class="additional_details">
                            <div class="property_title">Additional Details</div>
                            <div class="details_container">
                                <p>
                                    {{ place.details | safe }}
                                </p>
                            </div>
                        </div>


                    </div>
                </div>
            </div>


            {% if messages %}

            <br><br>
            <div class="row">
                <div class="col-md-12">
                {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}" role="alert">

                                {{ message }}

                        </div>
                {% endfor %}
                </div>
            </div>
            {% endif %}


            <div class="row" style="margin-top: 10px">
                <div class="col-md-12">
                    <div class="additional_details">
                    <div class="row">
                        <div class="col-md-4"> <div class="property_title">Comments</div></div>
                        <div class="col-md-6"></div>
                        <div class="col-md-2">
                            <form action="/places/like_place/{{ place.id }}" method="post">
                                {% csrf_token %}

                            {% if not liked %}
                            <button class="contact_button button"
                                                    style="margin-top:0px;!important;border-radius:200px;height: 86px;!important;width: 86px;!important;background: linear-gradient(to right, #487fee, #32fa95);!important"
                                                    type="submit">
                                <i width="32px" class="fa fa-3x fa-thumbs-up"></i></button>


                            {% else %}
                                <button class="contact_button button"
                                                    style="margin-top:0px;!important;border-radius:200px;height: 86px;!important;width: 86px;!important;background: linear-gradient(to right, #ff0000, #b4c13b);!important"
                                                    type="submit">
                                <i width="64pxpx" class="fa fa-3x fa-thumbs-down"></i></button>
                              {% endif %}
                            </form>
                        </div>

                    </div>
                        <div class="details_container">
                            {% if user.id is not None %}
                                <form name="comment" action="/places/addcomment/{{ place.id }}" method="post"
                                      class="contact_form">
                                    {% csrf_token %}
                                    <div class="row">
                                        <!-- Subject -->
                                        <div class="col-lg-6 contact_name_col">
                                            <input type="text" id="id_subject" name="subject" class="contact_input"
                                                   style="background: #c7ccd7;!important;" placeholder="Subject">
                                        </div>
                                        <!-- Button -->
                                        <div class="col-md-1">
                                            <select class="form-control" id="id_rate" name="rate">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                        </div>

                                        <div class="col-lg-3">
                                            <button class="contact_button button"
                                                    style="margin-top:0px;!important;height: 48px;!important;"
                                                    type="submit">send
                                            </button>
                                        </div>
                                    </div>
                                    <!-- Message -->
                                    <div class="row">
                                        <div class="col-lg-9">
                                            <div>
                                                <input type="text" id="id_comment" name="comment" class="contact_input"
                                                       style="background: #c7ccd7;!important;" placeholder="Message"
                                                       required="required">
                                            </div>
                                        </div>
                                    </div>

                                </form>
                                <br>
                                <hr><br>
                            {% else %}
                                <div class="col-md-12">
                                    <div class="alert alert-warning">
                                        Please login to comment.
                                    </div>

                                </div>



                            {% endif %}








                        {% for comment in comments %}
                        <div class="latest_post d-flex flex-row align-items-start justify-content-start">
                            <div><div class="latest_post_image"><img src="" alt=""></div></div>
                            <div class="latest_post_content">
                                <div class="latest_post_date">By {{ comment.user.username }}    --  <b>  Rate:[{{ comment.rate }}]</b> {{ comment.createdAt }}</div>
                                <div class="latest_post_title"><b>{{ comment.subject }}</b></div>
                                <div class="latest_post_author">{{ comment.comment }}</div>
                            </div>
                        </div>
                        <hr><br>
                    {% endfor %}









                        </div>
                    </div>
                </div>


            </div>


        </div>
    </div>





{% endblock %}