{%  extends 'homebase.html' %}

{% block title %}References{% endblock %}


{%  load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "styles/about.css" %} ">
    <link rel="stylesheet" type="text/css" href="{% static "styles/about_responsive.css" %} ">
{% endblock %}


{% block body %}
<div class="about">
		<div class="container">
			<div class="row">

				<!-- About Content -->
				<div class="col-lg-12">
					<div class="about_content">
						{{ setting.reference|safe}}
					</div>
				</div>


			</div>
		</div>
	</div>




{% endblock %}