<div class="categories border border-block">
    <div class="sidebar_title" style="margin-left: 35px">User Menu</div>

    <div class="categories_list" style="margin-top: -20px">
        <ul>
            <hr>
            <li><a href="/user/"><img style="margin-top:-15px"class="img-profile" height="188px"
                                                        src="{{ profile.image.url }}">
                </a></li>

            <hr>
            <li><a href="/user/" class="d-flex flex-row align-items-center justify-content-center">
                    <div>My Profile</div>
                </a></li>
            <hr>
            <li><a href="/user/places/" class="d-flex flex-row align-items-center justify-content-center">
                    <div>My Places</div>
                </a></li>
            <hr>
            <li><a href="/user/comments/" class="d-flex flex-row align-items-center justify-content-center">
                    <div>My Comments<br></div><br><br>
                </a></li>

        </ul>
    </div>
</div>